{{#if user_name}}
<div class="container-fluid">
  <a class="navbar-brand" href="/restaurants">
    <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30"
      height="30" class="d-inline-block align-top" alt="我的餐廳清單">
    我的餐廳清單
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/restaurants/new">新增餐廳</a>
      </li>
      <li class="nat-item"><a href="#">帳號資料</a></li>
      <li class="nav-item"><a href="#">帳號登出</a></li>
    </ul>
    <span class="navbar-text">
      歡迎 {{user_name}}
    </span>
  </div>
</div>

{{else}}
<div class="container-fluid">
  <span class="navbar-brand mb-0 h1">帳號尚未登入，請先登入；或是註冊帳號</span>
  <a href="/register">
    <button class="btn btn-outline-success me-2" type="button">
      註冊
    </button>
  </a>
  <a href="/login">
    <button class="btn btn-outline-success me-2" type="button">
      登入
    </button>
  </a>
</div>
{{/if}}