{{#if user_name}}
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <form action="/logout" method="post">
      <button class="btn btn-outline-secondary" type="submit">帳號登出</button>
    </form>
    </li>
    {{!-- <li class="nav-item">
      <a class="btn btn-outline-danger" href="/delete-account">
        刪除帳號
      </a>
    </li> --}}
  </ul>
  <a class="btn btn-primary" href="/restaurants/new">新增餐廳</a>
  <span class="navbar-text">
    歡迎 {{user_name}}
  </span>
</div>

{{else}}
<div class="collapse navbar-collapse" id="navbarText">
  <a href="/login">
    <button class="btn btn-outline-success me-2" type="button">登入帳號</button>
  </a>
  <a href="/register">
    <button class="btn btn-outline-success me-2" type="button">註冊帳號</button>
  </a>
  <span class="navbar-text">
    尚未登入帳號
  </span>
</div>
{{/if}}