{{#if user_name}}
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link" href="/restaurants/new">新增餐廳</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">帳號資料</a>
    </li>
    <li class="nav-item">
      <form action="/logout" method="post">
        <button class="btn btn-outline-secondary" type="submit">帳號登出</button>
      </form>
    </li>
  </ul>
  <span class="navbar-text">
    歡迎 {{user_name}}
  </span>
</div>

{{else}}
<div class="collapse navbar-collapse" id="navbarText">
  <span class="navbar-text">
    尚未登入
  </span>
</div>
{{/if}}