{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb-base",
  "rules": {
    "no-console": "off",
    "no-alert": "off",
    "import/no-extraneous-dependencies": "off",
    "consistent-return": "off"
  }
}